#chatlog {
    background: black;
    color: green;
}

#message_input {
    background: darkslategray;
    color: white;
}

#send_button {
    background: teal;
    color: white;
}

#input_container {
    display: block;
}

#input_container {
    layout: horizontal;
}

#input_box,
#recipient_box {
    width: 40%;
    margin-right: 1;
}

#send_button {
    width: auto;
}